.About {
  transform: translateY(-250px);
  opacity: 0;
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  transition: transform 2s ease-in-out, opacity 2s ease-in-out;
  margin-top: 100px;
}
.About.on {
  opacity: 1;
  transform: translateY(0);
}
.Me {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.Me h2 {
  font-weight: bold;
  font-size: var(--h2);
  text-align: start;
}
.Me p {
  text-align: start;
  line-height: 1.5;
  font-size: var(--h3);
}
.Me p > b {
  color: var(--strong_dark);
}
.About.light .Me p > b {
  color: var(--strong_light);
}

.perfil {
  width: auto;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  text-align: center;
  font-weight: bold;
  padding: 20px;
}
.perfil div {
  width: 160px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 10px;
  border-radius: 30px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  background-image: conic-gradient(
    from 90deg at 50% 50%,
    #51e4b8,
    #21554e,
    #51e4b8
  );
}
.perfil div::after {
  content: "";
  width: 100%;
  height: 100%;
  background-image: conic-gradient(
    from 90deg at 50% 50%,
    #51e4b8,
    #21554e,
    #51e4b8
  );
  position: absolute;
  animation: spin 4s linear infinite;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.perfil div > p {
  font-size: 14px;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  background-color: var(--Dark);
  position: absolute;
  z-index: 10;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.About.light .perfil div > p {
  background-color: var(--Light);
}

.Photo {
  width: 80px;
  height: 80px;
  object-fit: cover;
  object-position: star;
  border-radius: 50%;
}

.Contact {
  width: auto;
  height: auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}
.Contact a {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 8px 15px;
  border-radius: 30px;
  border: 1px solid var(--Text_light);
  font-size: var(--p);
  transition: transform 0.3s ease-in-out;
}
.Contact .bx{
  font-size: 20px;
  display: flex;
  align-items: center;
}
.About.light .Contact a {
  border-color: var(--Text_dark);
}
@media (hover: hover) {
  .perfil div:hover,
  .Contact a:hover {
    transform: scale(1.05);
  }
}
@media (width<=600px) {
  .About {
    width: 90%;
    margin-top: 80px;
  }
}
