.Contac {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--Background);
  color: var(--Text_Off);
  margin-top: 180px;
  gap: 1.2rem;
}
.Contac.dark {
  background-color: var(--Background_dark);
  color: var(---Text_On_dark);
}
footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
.Phone {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}

footer .bx {
  font-size: 32px;
}

.Email {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}

@media (480px<=width<=800px) {
  .Contac h2 {
    font-size: 20px;
  }

  footer .bx {
    font-size: 25px;
  }
}
@media (360px<=width<480px) {
  .Contac h2 {
    font-size: 18px;
  }

  footer {
    gap: 50px;
  }

  footer .bx {
    font-size: 20px;
  }
  @media (width<=420px) {
    footer {
      gap: 35px;
    }
  }
}

@media (width<360px) {
  .Contac h2 {
    font-size: 18px;
  }

  footer {
    gap: 25px;
  }

  footer .bx {
    font-size: 18px;
  }
}
.Contac .bx:hover {
  cursor: pointer;
}
