.Porfolio {
  opacity: 0;
  transform: translateY(-150px);
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
  transition: transform 2s ease-in-out, opacity 2s ease-in-out;
  font-weight: normal;
}
.Porfolio.on {
  opacity: 1;
  transform: translateY(0);
}
.Porfolio h2 {
  font-size: var(--titulo);
}
.Work {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  gap: 35px;
}
.Work img {
  width: 40%;
  max-width: 430px;
  height: 260px;
  object-fit: cover;
  border-radius: 15px;
  transition: transform 0.3s ease-in-out;
}
.Description_work {
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.Description_work h3 {
  font-size: 24px;
  font-weight: bold;
}
.description_job {
  font-size: var(--p);
  opacity: 0.85;
  text-align: start;
  line-height: 24px;
}
.Tecnologia {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
}
.Tecnologia p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  text-align: start;
  font-size: 12px;
  padding: 5px 10px;
  border: 1px solid var(--Text_light);
  border-radius: 30px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.Tecnologia p > img {
  width: 18px;
  height: 18px;
  object-fit: contain;
}
.React {
  background-color: rgb(123, 201, 255, 0.25);
}
.Firebase {
  background-color: rgb(253, 222, 85, 0.25);
}
.Deploy {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
}
.Deploy a {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 15px;
  gap: 8px;
  cursor: pointer;
  font-size: var(--p);
  border-radius: 10px;
  border: 1px solid var(--Text_light);
  transition: transform 0.3s ease-in-out;
}
.Deploy .bx {
  font-size: 22px;
}

.Porfolio.light {
  .Deploy a,
  .Tecnologia p {
    border-color: var(--Text_dark);
  }
}
@media (hover: hover) {
  .Deploy a:hover,
  .Tecnologia p:hover {
    transform: scale(1.05);
  }
}
@media (800px<=width<=1000px) {
  .Work img {
    transform: scale(0.85);
  }
}
@media (width<=800px) {
  .Work {
    flex-direction: column;
  }
  .Description_work,.Work img  {
    width: 95%;
  }
  @media (width<=600px) {
    .Porfolio {
      width: 90%;
    }
    .Work img {
      max-width: 550px;
    }
  }
}
