* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

:root {
    --Text_C:#b8d7d1;
    ---Text_On_App:#2b4442;
    --Dark:#2b4442;
    --Light:#f4f9f8;
}

.App {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--Light);
    font-family: 'Montserrat', sans-serif;
    overflow-y: hidden;
    padding-top: 50px;
    color: var(---Text_On_App);
}

.App.dark {
    background-color: var(--Dark);
    color: var(--Text_C);
}